.logo {
    height: 25px;
}

.gradient-background {
    background: linear-gradient(300deg, #4793AF, #FFC470, #DD5746, #8B322C);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.presenting-text{
    color: white !important;
}

.navbar-inner {
    background: transparent !important;
}

#navbarSupportedContent{
    justify-content: end;
}

.menu {
    margin-right: 0 !important;
}

.hi-text{
    font-size: 8em;
}

.name-text {
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 4em;
}

svg {
    margin-top: -4px;
}

.thumbnail-img{
    width: 100%;
    height: 225px;
    object-fit: cover;
}

.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: .75rem;
}

.role{
    color: white;
    font-weight: bold;
}


.download-button{
    background-color: #8B322C;
    border: 0px solid black;
}

.download-button:hover{
    background-color: #7C2624;
}


.footer-link {
    color: black;
}


.footer-link:hover,
.nav-link:hover {
    color: #4692B2;
}